.vscode
Terraform/variables.tf
Terraform/frontend/variables.tf
.terraform
.terraform.lock.hcl
/Backend/Microservices/.idea
Backend/Microservices/Microservices.sln.DotSettings.user
/Backend/ApiGateway/.idea
/Backend/Microservices/User.Microservice/src/WebApi/obj
Backend/Microservices/User.Microservice/src/WebApi/credentials.json
/Backend/Microservices/User.Microservice/src/Infrastructure/obj
Backend/Microservices/Authentication.Microservice/src/WebApi/credentials.json
Backend/ApiGateway/ApiGateway.sln.DotSettings.user
Terraform/modules/lambda_edge/lambda_edge.zip
Terraform/modules/lambda_edge/node_modules
Terraform/modules/lambda_edge/lambda.zip
Terraform/modules/lambda_edge/node_modules
/Backend/Microservices/Business.Microservice/src/WebApi/obj
/Backend/Microservices/Business.Microservice/src/Infrastructure/obj
